{% extends "common_base.html" %}
{% load staticfiles %}
{% load main_filters %}

{% block page_title %}
  About Us
{% endblock page_title %}

{% block content %}

    <div class="bg-white">
      <div class="container">
        <div class="page-section">
          <div class="page-header" style="margin-top:60px;">
            <h2>About SeeThisProperty</h2>
          </div>
          <div class="lead">
            A faster way to find and buy your perfect new home.
          </div>
          <div class="page-content" style="padding-bottom:33%;">
            SeeThisProperty.com connects home buyers with local realtors in order to help buyers get priority access to the best properties in the United States. This site also provides pertinent information about each property to empower consumers to find and purchase the perfect property.
          </div>
          <!-- // END .page-content -->
        </div>
        <!-- // END .page-section -->
      </div>
      <!-- // END .container -->
    </div>
    <!-- // END .bg-white -->

{% endblock content %}
