{% extends "common_base.html" %}
{% load staticfiles %}
{% load main_filters %}
{% load bootstrap %}

{% block page_title %}
  Contact Us
{% endblock page_title %}

{% block content %}

    <div class="bg-white">
      <div class="container">
        <div class="page-section">
          <div class="page-header text-center">
            {% if messages %}
                {% for message in messages %}
                {% comment %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endcomment %}
                <div class="alert alert-{{message.tags}} alert-dismissible" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <strong></strong> {{message}}
                </div>
                {% endfor %}
            {% endif %}
            <h2>Contact Us</h2>
          </div>
          <div class="page-content">
            <form action="#" method="POST">
              {% csrf_token %}
              {{form|bootstrap}}
              <input type="submit" value="Send" class="btn btn-cyan pull-right">
            </form>
          </div>
          <div class="row" style="margin-bottom: 10px; margin-top: 10px;"></div><!-- // spacer -->
          <!-- // END .page-content -->
        </div>
        <!-- // END .page-section -->
      </div>
      <!-- // END .container -->
    </div>
    <!-- // END .bg-white -->

{% endblock content %}
