{% load staticfiles %}

<html class="st-layout ls-top-navbar ls-bottom-footer show-sidebar sidebar-r1-xs sidebar-r-25pc-lg sidebar-r-30pc" lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>45 Horsley Ave | SeeThisProperty.com</title>
  <!DOCTYPE html>

  
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="style.css">
</head>
<body>

<div class="container-fluid bg ">

  <div class="row ">
    <div class="col-sm-8" ><h4><b>See This Property</b></h4></div>
    <div class="col-sm-2" >
    <p style="margin-top:10px">(855)789-2800</p></div>
    <div class="col-sm-2"><p style="margin-top:10px">  Request Viewing</p></div>
  </div>
  <div class="container-fluid bg">
  <div class="row ">
  <div class="col-sm-8"> Page Content</div>
  </div>
  </div>
 <div class=" bg-1">
 <ul>
   <li> <a href="/WA/Seattle/1000-1st-Ave-Unit-2301/" class="list-group-item">Test property 1</a></li>
  <li>  <a href="/WA/Seattle/1000-1st-Ave-Unit-2301/" class="list-group-item">Test property 2</a></li>
  
  </ul>
  </div>
  <div class="bg">
  
  </div>
</div>
    <footer class="container-fluid bg-4 text-center">
  <p>Local Marketing Enterprises, LIC Copyright 2016</a></p>
</footer>
</body>
</html>


