<div style="padding:3px; background:#EEE; border-radius:5px;">
    <span style="font-size:16px!important; line-height:20px!important; font-weight: bold!important; padding:10px 10px!important; color:#555!important; text-shadow: 0 1px 0 white!important; display:block!important; border: 1px solid #CACACA!important; border-bottom:0 none!important; background-color:#AEAEAE!important; background-image: -webkit-linear-gradient(#FAFAFA,#EAEAEA)!important; background-image: linear-gradient(#FAFAFA, #EAEAEA)!important; background-repeat:repeat-x!important;">Contact Form</span>
    <div class="content" style="background-color:white; border:1px solid #CACACA; padding:30px; display:block;">
        <p>Name: {{name}}</p>
        <p>Phone: {{phone}}</p>
        <p>Email: {{email}}</p>
        <p>Message: {{message}}</p>
    </div>
</div>